apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}-service
  namespace: {{ .Release.Namespace }}
  labels:
    app: mdai-s3-logs-reader
spec:
  selector:
    app: mdai-s3-logs-reader
  ports:
    - name: http
      port: 4400
      targetPort: http
      protocol: TCP
  type: ClusterIP
